/* People.module.css */

.textCenter {
  text-align: center;
}

.container {
  padding: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-size: 3rem;
  padding-bottom: 1.25rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.col12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0.5rem;
}
.colMd4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.personContainer {
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personInfo {
  margin-top: 20px;
  text-align: center;
}

.personInfo .text3xl {
  font-size: 1.8rem;
  font-weight: bold;
}

.personInfo p {
  margin-bottom: 10px;
}

.peopleImage img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.fontItalic {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}

.link {
  text-decoration: underline;
}
